/* Style for entire page */
html {
   background-color: #1976D2;
   font-family:Arial, Helvetica, sans-serif
}

/* Style for page body */
body {
    background-color: #2196F3;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 95%;
}

article {
    padding: 10px 15px;
    clear: both;
}

html, body {
    height: 100%;
}

/* Style for large cat image at the top of page */
a > img {
    display: block;
    width: 100%;
}

/* Style for the three option navigation bar */
body > header > nav.navi li {
    width: 33.33%;
}

nav.navi li {
    display: block;
    float: left;
}

nav.navi a {
    display: block;
    text-align: center;
    background-color: #BDBDBD;
    font-size: 1.1em;
    color: black;
}

/* Change the bg color of a link when it is hovered over */
nav.navi a:hover, nav.navi a:active {
    color: #BBDEFB;
    background-color: #212121;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}