html {
   background-color: #1976D2;
   font-family:Arial, Helvetica, sans-serif;
   min-height: 100%;
}

body {
    background-color: #2196F3;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 95%;
    min-height: 100vh;
}

article {
    padding: 15px 15px;
    clear: both;
}

/* Style for large cat image at top of page */
a > img {
    display: block;
    width: 100%;
}

body > header > nav.navi li {
    width: 33.33%;
}

nav.navi li {
    display: block;
    float: left;
}

nav.navi a {
    display: block;
    text-align: center;
    background-color: #BDBDBD;
    font-size: 1.1em;
    color: black;
}

/* Change the bg color of a link when it is hovered over */
nav.navi a:hover, nav.navi a:active {
    color: #BBDEFB;
    background-color: #212121;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

.scottish {
    display: flex;
}

.text, .image {
    flex: 1;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text {
    display: flex;
    align-items: center;
    padding-right: 26px;
}

@media (max-width: 700px) {
    .scottish {
        flex-direction: column;
    }
}