<!DOCTYPE html>
<html lang="EN">
<head>
    <title>Cat</title>
    <meta charset="utf-8" />
    <link href="{{ url_for('static', filename='catReset.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='cat.css') }}" rel="stylesheet" />

</head>

<body>
    <header>
        <a href="{{ url_for('home') }}"></a>
            <img src="static/catPicture.png" alt="cat" />
        </a>

        <nav class="navi">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('info') }}">Information</a></li>
                <li><a href="{{ url_for('faq') }}">FAQs</a></li>
            </ul>
        </nav>
    </header>


    <h2>Daily Cat Fact</h2>
    <p id="cat-fact">please work this time</p>

    <script>
        async function getFact() {
            try {
                const res = await fetch('/cat');
                const data = await res.json();
                document.getElementById('cat-fact').innerText = data.fact;
            } catch (err) {
                console.error('Error getting daily cat fact:', err);
                document.getElementById('cat-fact').innerText = "Failed to load cat fact.";
      }
    }
    
    getFact();
    </script>

</body>

</html>