<!DOCTYPE html>
<html lang="EN">
<head>
    <title>Cat FAQs</title>
    <meta charset="utf-8" />
    <link href="catReset.css" rel="stylesheet" />
    <link href="cat.css" rel="stylesheet" />

</head>

<body>
    <header>
        <img src="catPicture.png" alt="cat" />

        <nav class="navi">
            <ul>
                <li><a href="cat.html">Home</a></li>
                <li><a href="catInfo.html">Information</a></li>
                <li><a href="catfaq.html">FAQs</a></li>
            </ul>
        </nav>
    </header>

    <article>
        
    </article>


</body>

</html>