<!DOCTYPE html>
<html lang="EN">
<head>
    <title>Cat FAQs</title>
    <meta charset="utf-8" />
    <link href="{{ url_for('static', filename='catReset.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='cat.css') }}" rel="stylesheet" />

</head>

<body>
    <header>
        <a href="{{ url_for('home') }}">
            <img src="static/catPicture.png" alt="cat" />
        </a>

        <nav class="navi">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('info') }}">Information</a></li>
                <li><a href="{{ url_for('faq') }}">FAQs</a></li>
            </ul>
        </nav>
    </header>

    <article>
        <h1>Frequently Asked Questions</h1>
        <p><br /><i>Why does my cat chirp when it sees birds?</i></p>
        <p>It is known that cats make a sound that mimics the chirp of a bird whenever they are 
        looking at a bird outside, and the reason that they do this is likely that they are excited, 
        but wish to express it quietly, in a way that would not scare away their potential prey.</p>

    </article>

</body>

</html>