<!DOCTYPE html>
<html lang="EN">
<head>
    <title>Cat Info</title>
    <meta charset="utf-8" />
    <link href="{{ url_for('static', filename='catReset.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='cat.css') }}" rel="stylesheet" />

</head>

<body>
    <header>
        <img src="static/catPicture.png" alt="cat" />

        <nav class="navi">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('info') }}">Information</a></li>
                <li><a href="{{ url_for('faq') }}">FAQs</a></li>
            </ul>
        </nav>
    </header>

    <article>

    </article>


</body>

</html>